<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: "Gestionar EcoFood"}) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="section-common">
            <div class="panel-ecofood-div">
                <h2>Panel de gestión de EcoFood</h2>
                <div class="panel-ecofood-iconos">
                    <div>
                        <a class="gris" href="/products/manageProducts">
                            <img src="/img/panel/panel-prods.webp" alt="Editar productos">
                            <p>Editar productos</p> 
                        </a>
                    </div>
                    <div>
                        <a class="gris" href="">
                            <img src="/img/panel/panel-categorias.webp" alt="Editar categorias">
                            <p>Editar categorías</p>
                        </a>
                    </div>
                    <div>
                        <a class="gris" href="">
                            <img src="/img/panel/panel-estilosVida.webp" alt="Editar estilos de vida">
                            <p>Editar estilos de vida</p> 
                        </a>
                    </div>
                    <div>
                        <a class="gris" href="/products/manageMarcas">
                            <img src="/img/panel/panel-marcas.webp" alt="Editar marcas">
                            <p>Editar marcas</p> 
                        </a>
                    </div>
                    <div>
                        <a class="gris" href="../users/manageUsers">
                            <img src="/img/panel/panel-usuario.webp" alt="Editar usuarios">
                            <p>Editar usuarios</p> 
                        </a>
                    </div>
                </div>
            </div>
    </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>