<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
<%- include('../partials/header') %>  
<main>
    <h1>Crear producto</h1>
    <form method="POST" action="/products/newProduct">
        
    </form>
</main>  
<footer>

</footer>
</body>
</html>
