<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>  
    <main>
        <h1 class="label-crear-prod">Crear producto</h1>
        <form class="form-prod-nuevo" method="POST" action="/products/newProduct">
            <div>
                <input type="text" name="prod-nombre" id="prod-nombre" placeholder="Nombre del producto" required> 
            </div>
            <div class="div-prod-categorias">
                <p>Categorías del producto:</p>
                <div>
                    <input type="checkbox" name="prod-categorias" id="prod-categorias" value="categ1">
                    <label for="prod-categorias">Vegetarianos</label>
                </div>
                <div>
                    <input type="checkbox" name="prod-categorias" id="prod-categorias" value="categ2">
                    <label for="prod-categorias">Veganos</label>
                </div>
                <div>
                    <input type="checkbox" name="prod-categorias" id="prod-categorias" value="categ3">
                    <label for="prod-categorias">Celíacos</label>
                </div>
                <div>
                    <input type="checkbox" name="prod-categorias" id="prod-categorias" value="categ4">
                    <label for="prod-categorias">Libre de glúten</label>
                </div>
                <div>
                    <input type="checkbox" name="prod-categorias" id="prod-categorias" value="categ5">
                    <label for="prod-categorias">Bajo en sodio</label>
                </div>
                <div>
                    <input type="checkbox" name="prod-categorias" id="prod-categorias" value="categ6">
                    <label for="prod-categorias">Orgánico</label>
                </div>
            </div>
            <div class="div-prod-marca">
                <p>Marca del producto:</p>
                <div>
                    <input type="radio" name="prod-marca" id="prod-marca" value="marca1">
                    <label for="prod-marca">Silk</label>
                </div>
                <div>
                    <input type="radio" name="prod-marca" id="prod-marca" value="marca2">
                    <label for="prod-marca">Biba</label>
                </div>
                <div>
                    <input type="radio" name="prod-marca" id="prod-marca" value="marca3">
                    <label for="prod-marca">Laddubar</label>
                </div>
                <div>
                    <input type="radio" name="prod-marca" id="prod-marca" value="marca4">
                    <label for="prod-marca">Kos Food</label>
                </div>
                <div>
                    <input type="radio" name="prod-marca" id="prod-marca" value="marca5">
                    <label for="prod-marca">Integra</label>
                </div>
                <a class="crear-nueva-marca" href="">Crear nueva marca</a>
            </div>
            <div class="div-prod-precio">
                <p>$</p> <input type="number" name="prod-precio" id="prod-precio" placeholder="Precio del producto" required>
            </div>
            <div>
                <input type="text" name="prod-descripcion-corta" id="prod-nombre" placeholder="Descripción corta del producto" required> 
            </div>
            <div>
                <textarea name="prod-descripcion-larga" id="prod-descripcion-larga" cols="30" rows="5" placeholder="Decripción larga del producto"></textarea>
            </div>            
            <div class="div-prod-fotos">
                <label class="label-prod-fotos" for="prod-fotos">Fotos del producto: </label>
                <input class="input-prod-fotos" type="file" name="prod-fotos" id="prod-fotos" multiple>
            </div>
            <div>
                <button type="submit">Crear producto</button>
                <button type="reset">Borrar</button>
            </div>
        </form>
    </main>  
    <footer>
        <h3>Avenida Olivos 4109</h3>
        <div class="iconos-footer">
            <i class="fa-brands fa-whatsapp"></i> 
            <i class="fa-regular fa-envelope"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook-f"></i>
        </div>
    </footer>
</body>
</html>
