<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>  
<main class="error404">
    <h1>Oops...</h1>
    <h2>Parece que su producto no existe</h2>
    <section>
    <div>
    <i class="fa-solid fa-magnifying-glass"></i>
    <a href="">Vuelve a intentarlo</a>
    </div>
    <div>
    <i class="fa-solid fa-house"></i>
    <a href="../">Ir al inicio</a>
    </div>
    <div>
    <i class="fa-solid fa-envelope-circle-check"></i>
    <a href="">Contáctanos</a>
    </div>
    </section>
</main>
<%- include('../partials/footer') %> 
</body>
</html>