<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Login"}) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="section-common">
            <div class="carrito-div">
                <div class="carrito-header">
                    <h2>Carrito de compras</h2>
                    <a href="/">
                        <i class="fa-solid fa-circle-xmark"></i>
                    </a>
                </div>
            
                <div class="carrito-info">
                    <div class="carrito-lista">
                        <article class="carrito-articulo">
                            <img class="carrito-articulo-imagen" src="/img/products/barritasArandanos.jpg" alt="">
                            <div class="carrtito-articulo-item">
                                <div class="carrito-articulo-descripcion-item">
                                    <p class="carrito-articulo descripcion-nombre">Producto A</p>
                                    <p class="carrito-articulo descripcion-precio">$21200</p>
                                </div>
                                <div class="carrito-articulo-accion-item">
                                    <div class="carrito-articulo-accion-cantidad">
                                        <i class="fa-solid fa-minus arti-cant"></i>
                                        <p>1</p><i class="fa-solid fa-plus arti-cant"></i>
                                    </div>
                                    <div class="carrito-articulo-accion-eliminar"><i class="fa-solid fa-trash-can"></i></div>
                                </div>
                            </div>
                        </article>
                        <article class="carrito-articulo">
                            <img class="carrito-articulo-imagen" src="/img/products/barritasArandanos.jpg" alt="">
                            <div class="carrtito-articulo-item">
                                <div class="carrito-articulo-descripcion-item">
                                    <p class="carrito-articulo descripcion-nombre">Producto A</p>
                                    <p class="carrito-articulo descripcion-precio">$21200</p>
                                </div>
                                <div class="carrito-articulo-accion-item">
                                    <div class="carrito-articulo-accion-cantidad">
                                        <i class="fa-solid fa-minus arti-cant"></i>
                                        <p>2</p><i class="fa-solid fa-plus arti-cant"></i>
                                    </div>
                                    <div class="carrito-articulo-accion-eliminar"><i class="fa-solid fa-trash-can"></i></div>
                                </div>
                            </div>
                        </article>
                        <article class="carrito-articulo">
                            <img class="carrito-articulo-imagen" src="/img/products/barritasArandanos.jpg" alt="">
                            <div class="carrtito-articulo-item">
                                <div class="carrito-articulo-descripcion-item">
                                    <p class="carrito-articulo descripcion-nombre">Producto A</p>
                                    <p class="carrito-articulo descripcion-precio">$21200</p>
                                </div>
                                <div class="carrito-articulo-accion-item">
                                    <div class="carrito-articulo-accion-cantidad">
                                        <i class="fa-solid fa-minus arti-cant"></i>
                                        <p>4</p><i class="fa-solid fa-plus arti-cant"></i>
                                    </div>
                                    <div class="carrito-articulo-accion-eliminar"><i class="fa-solid fa-trash-can"></i></div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="carrito-footer">
                        <article class="carrito-footer-subtotal">
                            <p class="carrito-footer-subtotal-titulo">Subt-Total</p>
                            <p>$1500000</p>
                        </article>
                        <article class="carrito-footer-calcular">
                            <p class="carrito-footer-calcular-titulo">Calcular envío:</p>
                            <div>
                                <input type="number" name="" id="" placeholder="Código postal">
                                <input type="button" value="Calcular">
                            </div>
                            <a href="">No sé mi código postal</a>
                        </article>
                        <article class="carrito-footer-total">
                            <p class="carrito-footer-total-titulo">Total</p>
                            <p class="">$500000</p>
                        </article>
                        <div class="carrito-footer-comprar">
                            <input type="button" value="Finalizar compra">
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>