<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Login"}) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="section-common">
            <div class="carrito-div">
                <div class="carrito-header">
                    <h2>Carrito de compras</h2>
                    <a href="/">
                        <i class="fa-solid fa-circle-xmark"></i>
                    </a>
                </div>
            
                <div class="carrito-info">
                    <div class="carrito-lista" id="carrito-padre">
                    </div>
                    <div class="carrito-footer">
                        <article class="carrito-footer-subtotal">
                            <p class="carrito-footer-subtotal-titulo">Subt-Total</p>
                            <p id="carrito-footer-subtotal">$0</p>
                        </article>
                        <article class="carrito-footer-calcular">
                            <p class="carrito-footer-calcular-titulo">Calcular envío:</p>
                            <div>
                                <input type="number" name="" id="" placeholder="Código postal">
                                <input type="button" value="Calcular">
                                <p id="carrito-footer-envio">$0</p>
                            </div>
                            <a href="">No sé mi código postal</a>
                        </article>
                        <article class="carrito-footer-total">
                            <p class="carrito-footer-total-titulo">Total</p>
                            <p id="carrito-footer-total">$0</p>
                        </article>
                        <div class="carrito-footer-comprar">
                            <input type="button" value="Finalizar compra">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>

    <script src="/js/mostrarCarrito.js"></script>
    <script src="/js/contadorIconoCarrito.js"></script>
</body>
</html>