<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoFood</title>

    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/287f20f5bd.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div>
            <div class="logo">
                <img src="/img/EcoFood Logo Curvas mobile.jpg" alt="Logo Ecofood">
            </div>
            <div class="buscador">
                <form action="#">
                    <input type="text" name="buscador" id="buscador" placeholder= "Buscar producto">
                </form>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="iconos">
                <i id="menu" class="fa-solid fa-bars"></i>
                <i id ="estrella" class="fa-solid fa-star"></i>
                <i class="fa-solid fa-solid fa-cart-shopping"></i>
                <i id="usuario" class="fa-solid fa-user"></i>
            </div>
        </div>
        <nav>
            <ul>
                <li type="none"><a href="">Vegetarianos</a></li>
                <li type="none"><a href="">Veganos</a></li>
                <li type="none"><a href="">Celíacos</a></li>
                <li type="none"><a href="">Libre de glúten</a></li>
                <li type="none"><a href="">Bajo en sodio</a></li>
                <li type="none"><a href="">Orgánico</a></li>
            </ul>
        </nav>
    </header>
    <main>

    <!-- inicio carrusel -->
    <section>

    </section>
    <!-- fin carrusel  -->
    <!-- inicio productos  -->
    <section>
        <h2>Novedades</h2>
        <article>
            <img src="/img/lecheDeAlmendraYchocolate.jpg" alt="Leche de almendras y chocolate" width="360">
            <div class="info-de-producto">
               <p>Leche Almendras y Chocolate - Silk</p> 
               <p>$699</p>
            </div>
        </article>
        <article>
            <img src="/img/lecheDeAlmendraYcoco.jpg" alt="Leche de almendras y coco" width="360">
            <div class="info-de-producto">
               <p>Leche Almendras y Coco - Silk</p> 
               <p>$599</p>
            </div>
        </article>
        <article>
            <img src="/img/lecheDeCoco.jpg" alt="Leche de coco" width="360">
            <div class="info-de-producto">
               <p>Leche de Coco - Silk</p> 
               <p>$499</p>
            </div>
        </article>
        <article>
            <img src="/img/barritasCocoChoco.jpg" alt="Barrita coco choco Laddubar" width="360">
            <div class="info-de-producto">
               <p>Barrita COCO CHOCO - Laddubar</p> 
               <p>$185</p>
            </div>
        </article>
        <article>
            <img src="/img/barritasArandanos.jpg" alt="Barrita de arándanos Laddubar" width="360">
            <div class="info-de-producto">
               <p>Barrita Arándanos - Laddubar</p> 
               <p>$185</p>
            </div>
        </article>
        <article>
            <img src="/img/barritasFrutosRojos.jpg" alt="barrita frutos rojos Laddubar" width="360">
            <div class="info-de-producto">
               <p>Barrita Frutos Rojos - Laddubar</p> 
               <p>$185</p>
            </div>
        </article>
        <article>
            <img src="/img/granolaTradicional.webp" alt="granola tradicional" width="360">
            <div class="info-de-producto">
               <p>Granola Tradicional - KOS FOOD</p> 
               <p>$650</p>
            </div>
        </article>
        <article>
            <img src="/img/granolaConChocolate.jpg" alt="Granola con Chocolate Integra" width="360">
            <div class="info-de-producto">
               <p>Granola Chocolate - INTEGRA</p> 
               <p>$1130</p>
            </div>
        </article>
        <article>
            <img src="/img/granolaAlmendraYarandanos.jpg" alt="Granola alemndras y arandanos" width="360">
            <div class="info-de-producto">
               <p>Granola Almendra y Aándanos - INTEGRA</p> 
               <p>$1100</p>
            </div>
        </article>
    </section>
    <!-- fin productos     -->
      
    </main>
    <footer>
        <h3>Avenida Olivos 4109</h3>
        <div class="iconos-footer">
            <i class="fa-brands fa-whatsapp"></i> 
            <i class="fa-regular fa-envelope"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook-f"></i>
        </div>
        
    </footer>
</body>
</html>
