<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/productCart.css">
    <script src="https://kit.fontawesome.com/287f20f5bd.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <aside class="container-carrito">
        <section class="titulo-container">
            <p class="carrito-titulo">Carrito de Compras </p><i class="fa-solid fa-circle-xmark salir-icon"></i>
        </section>
        <section class="carrito-lista">
            <article class="carrito-articulo">
                <img class="carrito-articulo-imagen" src="/public/img/barritasArandanos.jpg" alt="">
                <div class="carrtito-articulo-item">
                    <div class="carrito-articulo-descripcion-item">
                        <p class="carrito-articulo descripcion-nombre">Producto A</p>
                        <p class="carrito-articulo descripcion-precio">$21200</p>
                    </div>
                    <div class="carrito-articulo-accion-item">
                        <div class="carrito-articulo-accion-cantidad">
                            <i class="fa-solid fa-minus arti-cant"></i>
                            <p>1</p><i class="fa-solid fa-plus arti-cant"></i>
                        </div>
                        <div class="carrito-articulo-accion-eliminar"><i class="fa-solid fa-trash-can"></i></div>
                    </div>
                </div>
            </article>
            <article class="carrito-articulo">
                <img class="carrito-articulo-imagen" src="/public/img/barritasArandanos.jpg" alt="">
                <div class="carrtito-articulo-item">
                    <div class="carrito-articulo-descripcion-item">
                        <p class="carrito-articulo descripcion-nombre">Producto A</p>
                        <p class="carrito-articulo descripcion-precio">$21200</p>
                    </div>
                    <div class="carrito-articulo-accion-item">
                        <div class="carrito-articulo-accion-cantidad">
                            <i class="fa-solid fa-minus arti-cant"></i>
                            <p>2</p><i class="fa-solid fa-plus arti-cant"></i>
                        </div>
                        <div class="carrito-articulo-accion-eliminar"><i class="fa-solid fa-trash-can"></i></div>
                    </div>
                </div>
            </article>
            <article class="carrito-articulo">
                <img class="carrito-articulo-imagen" src="/public/img/barritasArandanos.jpg" alt="">
                <div class="carrtito-articulo-item">
                    <div class="carrito-articulo-descripcion-item">
                        <p class="carrito-articulo descripcion-nombre">Producto A</p>
                        <p class="carrito-articulo descripcion-precio">$21200</p>
                    </div>
                    <div class="carrito-articulo-accion-item">
                        <div class="carrito-articulo-accion-cantidad">
                            <i class="fa-solid fa-minus arti-cant"></i>
                            <p>4</p><i class="fa-solid fa-plus arti-cant"></i>
                        </div>
                        <div class="carrito-articulo-accion-eliminar"><i class="fa-solid fa-trash-can"></i></div>
                    </div>
                </div>
            </article>
        </section>
        <section class="carrito-envio">
            <article class="carrito-envio-subtotal">
                <p class="carrito-envio-subtotal-titulo">Subt-Total</p>
                <p>$1500000</p>
            </article>
            <article class="carrito-envio-calcular">
                <p class="carrito-envio-calcular-titulo">Calcular envio</p>
                <div><input type="number" name="" id="" placeholder="Código postal"> <input type="button" value="Calcular"></div>
                <a href="">No sé mi código postal</a>
            </article>
            <article class="carrito-total-calcular">
                <p class="carrito-total-calcular-titulo">Total</p>
               <p>$5000000</p>
            </article>
        </section>
    </aside>
</body>

</html>