<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="/img/EcoFood Logo Curvas mobile.jpg">
    <script src="https://kit.fontawesome.com/287f20f5bd.js" crossorigin="anonymous"></script>
</head>
<body>
        <!-- inicio header -->
        <header>
            <div>
                <div class="logo">
                    <img src="/img/EcoFood Logo Curvas mobile.jpg" alt="Logo Ecofood">
                </div>
                <div class="buscador">
                    <form action="#">
                        <input type="text" name="buscador" id="buscador" placeholder= "Buscar producto">
                    </form>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="iconos">
                    <i id="menu" class="fa-solid fa-bars"></i>
                    <i id ="estrella" class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-solid fa-cart-shopping"></i>
                    <i id="usuario" class="fa-solid fa-user"></i>
                </div>
            </div>
            <nav>
                <ul>
                    <li type="none"><a href="">Vegetarianos</a></li>
                    <li type="none"><a href="">Veganos</a></li>
                    <li type="none"><a href="">Celíacos</a></li>
                    <li type="none"><a href="">Libre de glúten</a></li>
                    <li type="none"><a href="">Bajo en sodio</a></li>
                    <li type="none"><a href="">Orgánico</a></li>
                </ul>
            </nav>
        </header>
        <!-- fin header -->
        <!-- inicio main -->
    <main>
        <h3 class="nom-producto">Leche de Almendras y Chocolate - Silk</h3>
        <!-- inicio carrusel -->
        <section class="section-carrusel-un-prod">
            <div class="carrusel-un-prod">
                <img src="/img/lecheDeAlmendraYchocolate.jpg" alt="Leche de almendras y chocolate">
                <img src="/img/imgCarrusel.jpeg" alt="Leche de almendras y chocolate">
            </div>
            <i id ="estrella" class="fa-solid fa-star"></i>
            <div class="agregar-carrito">
                <button class="boton-carrito"><i class="fa-solid fa-plus"></i></button>
                <p>1</p>
                <button class="boton-carrito"><i class="fa-solid fa-minus"></i></button>
                <button type="submit" class="boton-agregar-carrito">Agregar al carrito</button>
            </div>
        </section>
        <!-- fin carrusel -->
        <p>$699</p>
        <p>Descripción del producto</p>
        <h3>Bebida a base de almendra chocolate SILK. 1lt.</h3>
        <p>SILK leche vegetal, almendra y cacao, chocolate. ?Un sabor riquísimo, una cremosidad única, y la tranquilidad de consumir una bebida 100% de origen vegetal. Una opción ideal para disfrutarla con tu cereal en el desayuno o tu bebida favorita en smoothie, café o té. BEBIBLE 1lt.?Producto vegetal bebida a base de almendras y cacao, sabor chocolate fortificada con calcio, zinc y vitaminas A, B2, B12, D y E. Libre de gluten. Sin TACC.</p>
        
        
    </main>
        <!-- fin main -->
        <!-- inicio footer -->
        <footer>
            <h3>Avenida Olivos 4109</h3>
            <div class="iconos-footer">
                <i class="fa-brands fa-whatsapp"></i> 
                <i class="fa-regular fa-envelope"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook-f"></i>
            </div>
        </footer>
        <!-- fin footer --> 
</body>
</html>