@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");

* {
    margin: 0;
    padding: 0;
}


body {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: linear-gradient(-20deg, #6944ff 0%, #ff2846 100%, #6944ff 100%);
}

.desarrolladores {
    
    padding-top: 100px;
    width: 90vw;
    min-height: 100vh;
    align-content: center;
    align-content: center;
    justify-content: center;
    display: flex;
    
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 120px;
   
    font-family: "Quicksand", sans-serif;
}

.biography-container {
    width: 300px;
    height: 380px;
    position: relative;
    background-color: white;
    border-radius: 10px;

}

.biography-carrousel {
    width: 300px;
    height: 380px;
    position: relative;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.biography-container-general {
    width: 300px;
    height: 380px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

}

.biography-image {
    position: absolute;
    top: calc(-100px / 2);
    left: calc((50%) - (100px /2));
    width: 100px;
    height: 100px;
    box-shadow: 0px 5px 50px 0px #6c44fc, 0px 0px 0px 7px rgba(107, 74, 255, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 4;
}

.biography-data-gral {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 95%;
    text-align: center;

}

.biography-location {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
    font-weight: 700;
    font-size: 14px;
}

.biography-name {
    font-weight: 700;
    font-size: 18px;
    color: #6944ff;

}

.biography-profession {
    font-weight: 500;
    font-size: 15px;
}

.biography-social-media {
    width: 90%;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    flex-wrap: wrap;

}

.i-fa {
    font-size: 10px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-decoration: none;
    position: relative;
}

.i-fa {
    transform: scale(1.3);
}

.i-fa i {
    position: absolute;

}

.i-fa:hover {
    transform: scale(1.5);
    transition: all 0.5s;

}

.fa-faticktok-bg:hover {
    transform: scale(1.5);
    transition: all 0.5s;

}

.fa-facebook-bg {
    background: linear-gradient(45deg, #3b5998, #0078d7);
    box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
}

.fa-twitter-bg {
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
}

.fa-instagram-bg {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
}

.fa-linkedin-in-bg {
    background: linear-gradient(45deg, #1769ff, #213fca);
    box-shadow: 0px 4px 30px rgba(27, 86, 231, 0.7);
}

.fa-github-bg {
    background: linear-gradient(45deg, #333333, #626b73);
    box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
}

.fa-facebook {
    top: calc(50% - 5px);
    left: calc(50% - 3px);
}

.fa-twitter {
    top: calc(50% - 5px);
    left: calc(50% - 5px);
}

.fa-instagram {
    top: calc(50% - 5px);
    left: calc(50% - 4px);
}

.fa-linkedin-in {
    top: calc(50% - 5px);
    left: calc(50% - 4px);
}

.fa-github {
    top: calc(50% - 5px);
    left: calc(50% - 5px);
}

.fa-faticktok-bg {
    font-size: 10px;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    box-shadow: 0px 4px 30px rgba(5, 5, 5, 0.6);
}

.fa-faticktok-bg {
    transform: scale(1.3);
}

.fa-tik-morado {
    position: absolute;
    color: rgb(241, 29, 77);
    z-index: 1;
    top: calc(50% - 7px);
    left: calc(50% - 4px);
}

.fa-tik-blanco {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 4px);
    z-index: 3;
    color: white;
}

.fa-tik-celeste {
    position: absolute;
    color: rgb(109, 198, 212);
    z-index: 2;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
}


.fa-link-bg {
    background: linear-gradient(45deg, #d5135a, #f05924);
    box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.6);
}

.fa-link {
    top: calc(50% - 5px);
    left: calc(50% - 5.5px);
}

.biography-actions {
    width: 95%;
    display: flex;
    justify-content: center;
}

.biography-button {
    background: none;
    border: none;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 13px;
    margin: 15px 15px;
    padding: 10px 10px;
    border-radius: 50px;
    min-height: 10px;
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all 0.3s;
}

.biography-messaje-button {
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
}

.biography-messaje-button:hover {
    box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
}

.biography-aboutme-button {
    background: linear-gradient(45deg, #d5135a, #f05924);
    box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
}

.biography-aboutme-button:hover {
    box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
}

.profile-card__button.button--gray {
    box-shadow: none;
    background: #dcdcdc;
    color: #142029;
}

.biography-position-false {
    opacity: 0;
    position: absolute;
    bottom: -390px !important;
    transition: all 0.5s;

}

.biography-position-true {

    position: absolute;
    bottom: 0px !important;
    transition: all 0.5s;

}

.biography-container-message {
    position: absolute;
    width: 300px;
    height: 380px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    bottom: -390px;
    left: 0;
}

.biography-container-message-form {
    margin-top: 100px;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    justify-content: space-between;
}

.biography-container-message-form textarea {
    background: none;
    width: 100%;
    height: 90%;
    border: none;
    outline: none;
    resize: none;
    border: 2px solid grey;
    border-radius: 10px;
    padding-inline-start: 10px;
}

.biography-container-aboutme {
    position: absolute;
    width: 300px;
    height: 380px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    bottom: -390px;
    left: 0;
}

.biography-container-aboutme-content {
    margin-top: 100px;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    justify-content: space-between;
}

.biography-actions-aboutme {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}

.biography-aboutme-button-back {
    padding: 10px 20px;
    background: linear-gradient(45deg, #d5135a, #f05924);
    box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
}

.biography-aboutme-button-back {
    box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
}

/* Comienza el estado del envio */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");




.h1-status-send {
  
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 3px;
  padding-top: 5px;
  color: #fcfcfc;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.h1-status-send-title{
  
  font-weight: 100;
  font-size: 25px;
  letter-spacing: 3px;
  padding-top: 5px;
  color: #fcfcfc;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.green-status-send {
  color: #4ec07d;
}

.red-status-send {
  color: #e96075;
}

.alert-status-send {
  font-weight: 700;
  letter-spacing: 5px;
}

.p-status-send {
  margin-top: -5px;
  font-size: 15px;
  font-weight: 100;
  color: #5e5e5e;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
}

.button-status-send{
  cursor: pointer;
}
.status-send-no {
 font-family: "Lato", sans-serif;
  position: absolute;
  width: 300px;
  height: 380px ;
  bottom: -390px;
  left: 0;
  background: linear-gradient(to bottom right, #b0db7d 40%, #99dbb4 100%);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
  perspective: 40px;
  transition: all 0.4s;
}

.success-box-status-send{
    
    font-family: "Lato", sans-serif;
    position: absolute;
    width: 300px;
    height: 380px ;
    bottom: 0px !important;
    left: 0;
    background: linear-gradient(to bottom right, #b0db7d 40%, #99dbb4 100%);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
    perspective: 40px;
    transition: all 1s;
}

.error-box-status-send-no {
  font-family: "Lato", sans-serif;
  position: absolute;
  width: 300px;
  height: 380px ;
  right: 0%;
  bottom: -390px;
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
  transition: all 0.3s;
}
 .error-box-status-send {
  
  font-family: "Lato", sans-serif;
  position: absolute;
  width: 300px;
  height: 380px ;
  bottom: 0px !important;
  right: 0%;
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
  transition: all 1s;
}


.two-status-send {
  right: 12%;
  opacity: 0.5;
}

.face-status-send {
  position: absolute;
  width: 80px;
  height: 80px ;
  background: #fcfcfc;
  border-radius: 50%;
  border: 1px solid #777777;
  top: 23%;
  left: calc(50% - 50px);
  z-index: 2;
  animation: bounce 1s ease-in infinite;
}

.face2-status-send {
  position: absolute;
  width: 80px;
    height: 80px ;
  background: #fcfcfc;
  border-radius: 50%;
  border: 1px solid #777777;
  top: 23%;
  left: 37.5%;
  z-index: 2;
  animation: roll 3s ease-in-out infinite;
}

.eye-status-send {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #777777;
  border-radius: 50%;
  top: 40%;
  left: 20%;
}

.right-status-send {
  left: 68%;
}

.mouth-status-send {
  position: absolute;
  top: 43%;
  left: 41%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.happy-status-send {
  border: 2px solid;
  border-color: transparent #777777 #777777 transparent;
  transform: rotate(45deg);
}

.sad-status-send {
  top: 49%;
  border: 2px solid;
  border-color: #777777 transparent transparent #777777;
  transform: rotate(45deg);
}

.shadow-status-send {
  position: absolute;
  width: 21%;
  height: 3%;
  opacity: 0.5;
  background: #777777;
  left: 37%;
  top: 43%;
  border-radius: 50%;
  z-index: 1;
}

.scale-status-send {
  animation: scale-status-send 1s ease-in infinite;
}

.move-status-send {
  animation: move-status-send 3s ease-in-out infinite;
}

.message-status-send {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 40%;
  top: 50%;
}

.button-box-result-result {
  position: absolute;
  background: #fcfcfc;
  width: 50%;
  height: 15%;
  border-radius: 20px;
  top: 73%;
  left: 25%;
  outline: 0;
  border: none;
  box-shadow: 2px 2px 10px rgba(119, 119, 119, 0.5);
  transition: all 0.5s ease-in-out;
}
.button-box-result-result:hover {
  background: #efefef;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

@keyframes bounce {
  50% {
    transform: translateY(-10px);
  }
}
@keyframes scale-status-send {
  50% {
    transform: scale(0.9);
  }
}
@keyframes roll {
  0% {
    transform: rotate(0deg);
    left: 25%;
  }
  50% {
    left: 60%;
    transform: rotate(168deg);
  }
  100% {
    transform: rotate(0deg);
    left: 25%;
  }
}
@keyframes move-status-send {
  0% {
    left: 25%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 25%;
  }}