/* inicio main */
main {
    width: 100vw;
}

.section-carrusel-prod {
    height: 100%;
}

.carrusel-prods {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: scroll;

}

.carrusel-prods img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
}

section .contenedor-productos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
section .contenedor-productos article {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;  
    transition: all 1s; 
}

section .contenedor-productos article:hover .info-de-producto{
    box-shadow: 0px 0px 10px #96AB61(100, 100, 100);
}

section article .info-de-producto img {
    width: 90%;
}

.info-de-producto {
    border: 2px solid #ebebeb;
    padding: 15px;
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.info-de-producto:hover {
    box-shadow: 0px 0px 10px #96ab61ff;
    transition: all 0.3s;
}

.info-de-producto #estrella {
    position: absolute;
    right: 5px;
    top:5px;
    color:#96AB61;
    font-size: 25px;
}

.info-de-producto #estrella:hover {
    color: #EB947A;
    transition: all 0.3s;
}

.info-de-producto div {
    width: 100%;
    margin: 5px;
}

h2 {
    font-size: 24px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3{
    font-size: 16px;
}

.checkbox-recordar-usuario {
    width: 10px;
}

.label-recordar-usuario {
    color: #96AB61;
    font-weight: bold;
}

/* fin main */

/****** MEDIA QUERY ******/

@media (min-width: 769px) {
    /* inicio main */
    section .contenedor-productos article {
        width: 40%;
    }
    /* fin main */

    .carrusel-prods img {
        height: 20vh;
    }
}

@media (min-width: 1280px) {
    /* inicio main */
    section .contenedor-productos article {
        width: 22%;
    }
    /* fin main */

    .carrusel-prods img {
        height: 20vh;
    }

}