.panel-ecofood-div {
    background-color: white;
    border: 2px solid #ebebeb;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;

    width: 90vw;
}

.panel-ecofood-div img {
    width: 20%;
}

.panel-ecofood-iconos {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;

    justify-content: center;
}

.panel-ecofood-iconos div {
    margin: 10px;
}

.panel-ecofood-iconos p {
    font-size: 14px;
    font-weight: bold;

}


@media (min-width: 769px) {
    .panel-ecofood-iconos div {
        width: 40%;
    }
}

@media (min-width: 1280px) {
    .panel-ecofood-iconos div {
        width: 20%;
    }
}