.label-crear-prod {
    padding: 10px;
}

.form-prod-nuevo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    
}

.form-prod-nuevo div {
    margin-bottom: 10px;
}

.form-prod-nuevo .div-prod-categorias input,
                 .div-prod-marca input {
    width: 10px;
}

.form-prod-nuevo p, label.label-prod-fotos {
    font-weight: bold;
}

.form-prod-nuevo input[type=number] {
    width: 40%;
}

.form-prod-nuevo .crear-nueva-marca, .crear-nueva-categoria {
    padding-left: 5px;
}

.form-prod-nuevo .div-prod-precio {
    display: flex;
}


main form div.div-prod-categorias, div.div-prod-marca {
    width: 98%;
    text-align: left;
    border-radius: 5px;
    padding: 4px;
    background-color: #FFF;
    border: 1px solid  #c9c56fff;;
    box-sizing: border-box; 
    margin: 5px;
}

.form-prod-nuevo .div-prod-fotos {
    width: 98%;
    text-align: left;
    border-radius: 5px;
    padding: 4px;
    background-color: #FFF;
    border: 1px solid  #c9c56fff;;
    box-sizing: border-box; 
    margin: 5px;

}

.form-prod-nuevo .div-prod-fotos input {
    border: none;
}

@media (min-width: 769px) {
    main .form-prod-nuevo {
        width: 50%;
    }
}