

::selection{
  background: #96AB61;;
   color: #fff; 
}
body.detalle-usuario{
  height: 100%;
  place-items: center;
  background: #ebebeb;
} 
body.detalle-usuario  header{
    background-color: white;
}
body.detalle-usuario main form.form-editar-user{
  border-color: transparent;
}
body.detalle-usuario main div.container{
  padding: 20px;
  display: flex;
  justify-content: center;

}
body.detalle-usuario main div.container div.box{
  width: calc(50% - 10px);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 15px;
}


body.detalle-usuario main div.container div.box img {
  width: 20%;
  border-radius: 50%;
}

body.detalle-usuario main div.container div.box div.image{
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #96AB61;;
  padding: 3px;
  border-radius: 50%;
}
body.detalle-usuario main div.container div.box .image i{
  padding-top: 10%;
  font-size: 100px; 
}
body.detalle-usuario main div.container div.box  img{
  padding: 2%;
  width: 80px;
  height: 80px;
  font-size: 100px; 
  border: 3px solid #96AB61;
  border-radius: 50%;
}
body.detalle-usuario main div.container div.box p{
  text-align: justify;
  margin-top: 8px;
  font-size: 22px;
  font-weight: 400;
}
body.detalle-usuario main div.container div.box .name_job{
  margin: 10px 0 3px 0;
  color: #96AB61;;
  font-size: 30px;
  font-weight: 600;
}

.btns{
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.btns button{
  background: #96AB61;
  width: 100%;
  padding: 9px 0px;
  outline: none;
  border: 2px solid #96AB61;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #96AB61;
  transition: all 0.3s linear;
}
.btns button:first-child{
  background: none;
  margin-right: 5px;
}
.btns button:last-child{
  color: #fff;
  margin-left: 5px;
}
.btns button:first-child:hover{
  background: #96AB61;
  color: #fff;
}
.btns button:hover{
  color: #fff;
}
a.link-boton-1{
  color: #fff;
}
a.link-boton-1:hover{
  background: #96AB61;
  color: #fff;
}
a.link-boton-2:hover{
  background: #96AB61;
  color: #fff;
}
