<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: "Nosotros"}) %>
<body>
    <%- include('./partials/header') %>
    <main>
        <section class="section-common">
            <div class="div-common">
                <div class="div-contacto-info">
                    <div>
                        <img src="/img/EcoFood Logo Curvas web.jpg" alt="">
                      
                    </div>

                    <div class="div-contacto">
                        <div>
                            <h3 class="div-nosotros-perfiles-nombres">
                                Contacto
                            </h3>
                            <h4>¡Consúltanos todo lo que quieras!</h4>
                           <p><i class="fa-brands fa-whatsapp"></i> +54 9 11 6171-4899</p>
                           <p><i class="fa-regular fa-envelope"></i> ecofood@gmail.com</p> 
                           <p><i class="fa-brands fa-instagram"></i> @ecofood</p> 
                           <p><i class="fa-brands fa-facebook-f"></i> ecofood</p>
                        </div>


                    </div>
                    
                </div>
            </div>
        </section>

    </main>
    <%- include('./partials/footer') %>
</body>
</html>