<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %>
    <main>

        <!-- inicio carrusel -->
        <section class="section-carrusel-prod">
            <div class="carrusel-prods">
                <img src="/img/prueba_banner.jpg" alt="Leche de almendras y chocolate">
                <img src="/img/prueba_banner_2.webp" alt="Leche de almendras y coco">
                <img src="/img/prueba_banner_3.jpg" alt="Leche de almendras y chocolate">
            </div>
        </section>
        <!-- fin carrusel  -->
        <!-- inicio productos  -->
            
        <section>
            <h2>Novedades</h2>
            <div class="contenedor-productos">
                <article>
                    <a href="/productDetail">
                        <div class="info-de-producto">
                            <i id ="estrella" class="fa-solid fa-star"></i>
                            <img src="/img/lecheDeAlmendraYchocolate.jpg" alt="Leche de almendras y chocolate" width="360">
                            <div><p>Leche Almendras y Chocolate - Silk</p></div> 
                            <div><p>$699</p></div>
                        </div>
                    </a>
                </article>
                <article>
                    <a href="/productDetail">
                        <div class="info-de-producto">
                            <i id ="estrella" class="fa-solid fa-star"></i>
                            <img src="/img/lecheDeAlmendraYcoco.jpg" alt="Leche de almendras y coco" width="360">
                            <div><p>Leche Almendras y Coco - Silk</p></div> 
                            <div><p>$599</p></div>
                        </div>
                    </a>
                </article>
                <article>
                    <a href="/productDetail">
                        <div class="info-de-producto">
                            <i id ="estrella" class="fa-solid fa-star"></i>
                            <img src="/img/lecheDeCoco.jpg" alt="Leche de coco" width="360">
                            <div><p>Leche de Coco - Silk</p></div> 
                            <div><p>$499</p></div>
                        </div>
                    </a>
                </article>
                <article>
                    <a href="/productDetail">
                        <div class="info-de-producto">
                            <i id ="estrella" class="fa-solid fa-star"></i>
                            <img src="/img/lecheDeQuinoa.jpg" alt="Leche de Quinoa" width="360">
                            <div><p>Leche de Quinoa - Biba</p></div> 
                            <div><p>$525</p></div>
                        </div>
                    </a>
                </article>
            </div>
        </section>
        <section>
            <h2>Nuestros preferidos</h2>
            <div class="contenedor-productos">
                <article>
                    <a href="/productDetail">
                        <div class="info-de-producto">
                            <i id ="estrella" class="fa-solid fa-star"></i>
                            <img src="/img/barritasCocoChoco.jpg" alt="Barrita coco choco Laddubar" width="360">
                            <div><p>Barrita COCO CHOCO - Laddubar</p></div> 
                            <div><p>$185</p></div>
                        </div>
                    </a>
                </article>
                <article>
                    <a href="/productDetail">
                        <div class="info-de-producto">
                            <i id ="estrella" class="fa-solid fa-star"></i>
                            <img src="/img/barritasArandanos.jpg" alt="Barrita de arándanos Laddubar" width="360">
                            <div><p>Barrita Arándanos - Laddubar</p></div> 
                            <div><p>$185</p></div>
                        </div>
                    </a>
                </article>
                <article>
                    <a href="/productDetail">
                        <div class="info-de-producto">
                            <i id ="estrella" class="fa-solid fa-star"></i>
                            <img src="/img/barritasFrutosRojos.jpg" alt="barrita frutos rojos Laddubar" width="360">
                            <div><p>Barrita Frutos Rojos - Laddubar</p></div> 
                            <div><p>$185</p></div>
                        </div>
                    </a>
                </article>
                <article>
                    <a href="/productDetail">
                        <div class="info-de-producto">
                            <i id ="estrella" class="fa-solid fa-star"></i>
                            <img src="/img/barritasBrownie.jpg" alt="barrita frutos rojos Laddubar" width="360">
                            <div><p>Barrita Frutos Rojos - Laddubar</p></div> 
                            <div><p>$185</p></div>
                        </div>   
                    </a>
                </article>
            </div>
        </section>
        <section>
            <h2>Los más buscados</h2>
            <div class="contenedor-productos">
                <article>
                    <div class="info-de-producto">
                        <i id ="estrella" class="fa-solid fa-star"></i>
                        <img src="/img/granolaTradicional.webp" alt="granola tradicional" width="360">
                        <div><p>Granola Tradicional - KOS FOOD</p></div> 
                        <div><p>$650</p></div>
                    </div>
                </article>
                <article>
                    <div class="info-de-producto">
                        <i id ="estrella" class="fa-solid fa-star"></i>
                        <img src="/img/granolaConChocolate.jpg" alt="Granola con Chocolate Integra" width="360">
                        <div><p>Granola Chocolate - INTEGRA</p></div> 
                        <div><p>$1130</p></div>
                    </div>
                </article>
                <article>
                    <div class="info-de-producto">
                        <i id ="estrella" class="fa-solid fa-star"></i>
                        <img src="/img/granolaAlmendraYarandanos.jpg" alt="Granola alemndras y arandanos" width="360">
                        <div><p>Granola Almendra y Aándanos - INTEGRA</p></div> 
                        <div><p>$1100</p>
                    </div>
                </article>
                <article>
                    <div class="info-de-producto">
                        <i id ="estrella" class="fa-solid fa-star"></i>
                        <img src="/img/granolaEnergetica.webp" alt="Granola energetica" width="360">
                        <div><p>Granola Energética - KOS FOOD</p></div>
                        <div><p>$680</p></div>
                    </div>
                </article>
            </div>
        </section>
        <!-- fin productos     -->
      
    </main>
    <footer>
        <h3>Avenida Olivos 4109</h3>
        <div class="iconos-footer">
            <i class="fa-brands fa-whatsapp"></i> 
            <i class="fa-regular fa-envelope"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook-f"></i>
        </div>
    </footer>
</body>
</html>
