<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: "Nosotros"}) %>
<body>
    <%- include('./partials/header') %>
    <main>
        <section class="section-common">
            <div class="div-common">
                <div class="div-nosotros-info">
                    <div>
                        <img src="/img/EcoFood Logo Curvas web.jpg" alt="">
                        <div>
                            <p class="nosotros-texto-mediano">
                                La alimentación es esencial para todos nosotros, y llevar una dieta saludable hace la diferencia logrando que vivas la vida al máximo lleno de energía.
                            </p>
                            <p class="nosotros-texto-mediano">
                                Es por eso que desde <strong class="strong-ecoFood">EcoFood</strong> te acercamos un sitio en donde es posible comprar gran variedad de productos que se ajustan a la perfección con el estilo de vida que querés llevar.
                            </p>
                            <p class="nosotros-texto-mediano">
                                Podrás encontrar comida para celíacos, diabéticos, veganos, para llevar una vida fit, orgánica, kosher, entre otros. Te invitamos a recorrer el sitio y con la facilidad de un clic: ¡comprar tu comida favorita y esperar que llegue a tu casa!
                            </p>
                        </div>
                        
                    </div>
                    
                    <p class="nosotros-texto-mediano">A continuación te dejamos nuestras fichas para que puedas conocernos mejor:</p>

                    <div class="div-nosotros-perfiles">
                        <div>
                            <h4 class="div-nosotros-perfiles-nombres">
                                Sheine Sirota
                            </h4>
                            <p>Tengo 20 años y soy la Social Media Manager de una Organizacion benéfica</p>
                            <p>Además, me encanta todo lo que respecte a la nutrición y a un estilo de vida saludable, por lo que desarrollar este stio me fue súper entretenido.</p>
                            <img src="/img/developers/SheineSirota_dev.jpg" alt="">
                        </div>


                        <div>
                            <h4 class="div-nosotros-perfiles-nombres">
                                Luciana Vidal
                            </h4>
                            <p>Tengo 30 años y soy Ingeniera en Computación, trabajo como Data Engineer en Mercado Libre</p>
                            <p>Por otra parte, soy escritora y publiqué mi primer libro.</p>
                            <img src="/img/developers/LucianaVidal_dev.jpeg" alt="">
                        </div>


                    </div>
                    
                </div>
            </div>
        </section>

    </main>
    <%- include('./partials/footer') %>
</body>
</html>