<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea tu cuenta</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/EcoFood Logo Curvas mobile.jpg">
    <script src="https://kit.fontawesome.com/287f20f5bd.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- inicio header -->
    <header>
        <div>
            <div class="logo">
                <a href="/"><img src="/img/EcoFood Logo Curvas mobile.jpg" alt="Logo Ecofood"></a>
            </div>
            <div class="buscador">
                <form action="#">
                    <input type="text" name="buscador" id="buscador" placeholder= "Buscar producto">
                </form>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="iconos">
                <i id="menu" class="fa-solid fa-bars"></i>
                <i id ="estrella" class="fa-solid fa-star"></i>
                <a href="/productCart"><i class="fa-solid fa-solid fa-cart-shopping"> </i></a>
                <i id="usuario" class="fa-solid fa-user"></i>
            </div>
        </div>
        <nav>
            <ul>
                <li type="none"><a href="">Vegetarianos</a></li>
                <li type="none"><a href="">Veganos</a></li>
                <li type="none"><a href="">Celíacos</a></li>
                <li type="none"><a href="">Libre de glúten</a></li>
                <li type="none"><a href="">Bajo en sodio</a></li>
                <li type="none"><a href="">Orgánico</a></li>
            </ul>
        </nav>
    </header>
    <!-- fin header -->
    <!-- inicio main -->
    <main>
        <img src="/img/EcoFood Logo Curvas web.jpg" alt="imagen de ejemplo" width="360">
        <h2>Creá tu cuenta</h2>
        <p>Comprá más rápido y llevá el control de tus pedidos; ¡en un solo lugar!</p>
        <form action="/register" method=post>
            <div>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" required> 
            </div>
            <div>
                <input type="email" name="email" id="email" placeholder="Email" required>
            </div>
            <div>
                <input type="password" name="contrasenia" id="contrasenia" placeholder="Elija una contraseña" required>
            </div>
    
            <div>
                <input type="password" name="confirmar-contrasenia" id="confirmar-contrasenia" placeholder="Confirmar contarseña" required>
            </div>
            <div>
                <button type="submit">Crear cuenta</button>
            </div>
        </form>
        <a href="/login">¿Yá tenés una cuenta? Iniciá seción</a>
    </main>
    <!-- fin main -->
    <!-- inicio footer -->
    <footer>
        <h3>Avenida Olivos 4109</h3>
        <div class="iconos-footer">
            <i class="fa-brands fa-whatsapp"></i> 
            <i class="fa-regular fa-envelope"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook-f"></i>
        </div>
    </footer>
    <!-- fin footer -->
    
</body>
</html>