<footer>
    <h3>Avenida Olivos 4109</h3>
    <div class="iconos-footer">
        <i class="fa-brands fa-whatsapp"></i> 
        <i class="fa-regular fa-envelope"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook-f"></i>
    </div>
</footer>

<%- include('./menuHamburguesa') %>

<script src="/js/menuHamburguesaEstilosVida.js"></script>
<script src="/js/contadorIconoCarrito.js"></script>
<script src="/js/searchBar.js"></script>
