<header style="background-color: white;">
    <div>
        <div class="logo">
            <a href="/"><img src="/img/EcoFood Logo Curvas mobile.jpg" alt="Logo Ecofood"></a>
        </div>
        <div class="buscador">
            <form action="#">
                <input type="text" name="buscador" id="buscador" placeholder= "Buscar producto">
            </form>
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="iconos">
            <i id="menu" class="fa-solid fa-bars"></i>
            <i id ="estrella" class="fa-solid fa-star"></i>
            <a href="/products/productCart"><i class="fa-solid fa-solid fa-cart-shopping"> </i></a>
            <i id="usuario" class="fa-solid fa-user"></i>
        </div>
    </div>
    <nav>
        <ul>
            <li type="none"><a href="">Categorías</a></li>
            <li type="none"><a href="">Estilo de vida</a></li>
            <li type="none"><a href="">Marcas</a></li>
            <li type="none"><a href="/aboutus/">Nosotros</a></li>
            <li type="none"><a href="">Contacto</a></li>
        </ul>
    </nav>
</header>