<header style="background-color: white;">
    <div>
        <div class="logo">
            <a href="/"><img src="/img/EcoFood Logo Curvas mobile.jpg" alt="Logo Ecofood"></a>
        </div>
        <div class="buscador">
            <form id="navBar-buscador" action="#">
                <input id="buscador" type="text" name="buscador" id="buscador" placeholder= "Buscar producto">
            </form>
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="iconos">
            <i id="menu" class="fa-solid fa-bars" onClick="menuHamburguesa()"></i>
            <i id ="estrella" class="fa-solid fa-star" onClick="mostrarFavoritos()"></i>
            <a class="icon-cart" href="/products/productCart"><i class="fa-solid fa-solid fa-cart-shopping"></i> <p id="p-icon-cart"></p></a>
          
            <% if (locals.isLogged) { %>
                <a id="header-user" href="/users/userDetail/<%= locals.usuarioLogueado.id %>">
                <img class="img-perfil" src="<%= locals.usuarioLogueado.img %>" alt="<%= locals.usuarioLogueado.img %>">
                <h6>Hola <%= locals.usuarioLogueado.nombre%></h6></a>
            <%} else {%>
                <a href="/users/login"><i id="usuario" class="fa-solid fa-user"></i></a>
            <%}%>
        </div>
    </div>
    <nav>
        <ul class="menu">
            <li class="container-submenu" type="none">
                <a href="#" class="menu__link submenu-btn">Categorías <i class="fa-solid fa-chevron-down"></i></a>
                    <div>
                    <ul class="submenu">
                        <li class="menu__item"><a href="" class="menu__link">Holis</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Holis</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Holis</a></li>
                    </ul>    
                    </div>
            </li>
            <li type="none"><a href="">Estilo de vida</a></li>
            <li type="none"><a href="">Marcas</a></li>
            <li type="none"><a href="/nosotros">Nosotros</a></li>
            <li type="none"><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
</header>


<script src="/js/menuDesplegable.js"></script>

