<header>
    <div>
        <div class="logo">
            <a href="/"><img src="/img/EcoFood Logo Curvas mobile.jpg" alt="Logo Ecofood"></a>
        </div>
        <div class="buscador">
            <form action="#">
                <input type="text" name="buscador" id="buscador" placeholder= "Buscar producto">
            </form>
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="iconos">
            <i id="menu" class="fa-solid fa-bars"></i>
            <i id ="estrella" class="fa-solid fa-star"></i>
            <a href="/product/productCart"><i class="fa-solid fa-solid fa-cart-shopping"> </i></a>
            <i id="usuario" class="fa-solid fa-user"></i>
        </div>
    </div>
    <nav>
        <ul>
            <li type="none"><a href="">Vegetarianos</a></li>
            <li type="none"><a href="">Veganos</a></li>
            <li type="none"><a href="">Celíacos</a></li>
            <li type="none"><a href="">Libre de glúten</a></li>
            <li type="none"><a href="">Bajo en sodio</a></li>
            <li type="none"><a href="">Orgánico</a></li>
        </ul>
    </nav>
</header>