<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Crear estilo de vida"}) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="section-common">
            <form class="form-prod-nuevo" method="POST" action="/categoria/create" enctype="multipart/form-data">
                <h1 class="label-crear-prod">Crear Categoria</h1>
                
                    <input class="input-form" type="text" name="categoria_nombre" id="categoria_nombre" placeholder="Nombre del estilo de vida" required>
                
                <div class="div-prod-fotos">
                    <label class="label-prod-fotos" for="categoria-foto">Foto de la categoria: </label>
                    <input class="input-prod-fotos" type="file" name="categoria_foto" id="categoria-foto">
                </div>

                <div>
                    <button type="submit">Crear Categoria</button>
                    <button type="reset">Borrar</button>
                </div>

            </form>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>