<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Crear marcas"}) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="section-common">
            <form class="form-prod-nuevo" method="POST" action="/brands/create" enctype="multipart/form-data">
                <h1 class="label-crear-prod">Crear marca</h1>
                
                    <input class="input-form" type="text" name="marca_nombre" id="marca-nombre" placeholder="Nombre de la marca" required>
                
                <div class="div-prod-fotos">
                    <label class="label-prod-fotos" for="marca-foto">Foto de la marca: </label>
                    <input class="input-prod-fotos" type="file" name="marca_foto" id="marca-foto">
                </div>

                <div>
                    <button type="submit">Crear marca</button>
                    <button type="reset">Borrar</button>
                </div>

            </form>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>